
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySensorLabel" translate="ioeApp.sensor.home.createOrEditLabel">Create or edit a Sensor</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.sensor.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.sensor.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ioeApp.sensor.sensorId" for="field_sensorId">Sensor Id</label>
            <input type="number" class="form-control" name="sensorId" id="field_sensorId"
                    ng-model="vm.sensor.sensorId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ioeApp.sensor.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.sensor.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="ioeApp.sensor.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.sensor.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ioeApp.sensor.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="vm.sensor.type"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ioeApp.sensor.serial" for="field_serial">Serial</label>
            <input type="text" class="form-control" name="serial" id="field_serial"
                    ng-model="vm.sensor.serial"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ioeApp.sensor.storeType" for="field_storeType">Store Type</label>
            <input type="text" class="form-control" name="storeType" id="field_storeType"
                    ng-model="vm.sensor.storeType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ioeApp.sensor.tableId" for="field_tableId">Table Id</label>
            <input type="text" class="form-control" name="tableId" id="field_tableId"
                    ng-model="vm.sensor.tableId"
                     />
        </div>

        <div class="form-group">
            <label translate="ioeApp.sensor.device" for="field_device">Device</label>
            <select class="form-control" id="field_device" name="device" ng-model="vm.sensor.device" ng-options="device as device.id for device in vm.devices track by device.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="ioeApp.sensor.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.sensor.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
