
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySensorDataLabel" translate="ioeApp.sensorData.home.createOrEditLabel">Create or edit a Sensor Data</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.sensorData.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.sensorData.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ioeApp.sensorData.sensorId" for="field_sensorId">Sensor Id</label>
            <input type="number" class="form-control" name="sensorId" id="field_sensorId"
                    ng-model="vm.sensorData.sensorId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ioeApp.sensorData.data" for="field_data">Data</label>
            <input type="text" class="form-control" name="data" id="field_data"
                    ng-model="vm.sensorData.data"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ioeApp.sensorData.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.sensorData.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ioeApp.sensorData.timestamp" for="field_timestamp">Timestamp</label>
                <div class="input-group">
                    <input id="field_timestamp" type="text" class="form-control" name="timestamp" datetime-picker="{{dateformat}}" ng-model="vm.sensorData.timestamp" is-open="vm.datePickerOpenStatus.timestamp"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('timestamp')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
